*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
/log/*
/tmp/*
/config/database.yml
.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/
public/uploads/