<p id="notice"><%= notice %></p>

<p>
  <strong>Checked in at:</strong>
  <%= @check_in.checked_in_at %>
</p>

<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', check_ins_path %>
